<h1>See all the lost pets</h1>

<ul>
  <% @pets.each do |pet| %>
    <li>
      <%= link_to pet.name, pet_path(pet) %> - <%= pet.species %>
    </li>
  <% end %>
</ul>

<%= link_to "Ajouter un animal", new_pet_path, class: "btn btn-primary" %>
